footer {
	height: 30rem;
  padding: 1.6rem 2.4rem;

	display: flex;
	flex-flow: column;
	gap: 6rem;
	align-items: center;
	justify-content: center;
}

.footer__container {
	display: flex;
	flex-flow: column;
	gap: 2rem;
	align-items: center;
	justify-content: center;
}

.footer__links {
	display: flex;
  flex-flow: row wrap;
	gap: 3rem;
	justify-content: center;
	align-items: center;
}

.footer__rights {
	font-size: 1.3rem;
	color: var(--link-color);
  text-align: center;
}

.footer__socialmedia {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;
}

.footer__socialmedia a img {
	height: 2.2rem;
}