@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

@import url(buttons.css);
@import url(variables.css);
@import url(nav.css);
@import url(footer.css);
@import url(header.css);
@import url(main.css);

/* corrigir paddings e margins */

:root {
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;

	--primary-color: #020228;
	--secondary-color: #ff00e5;
	--tertiary-color: #b535f6;

	--btn-link-bg-color: #fff;
	--btn-link-color: #000;
	--card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
	--nav-bg-color: rgba(0, 0, 0, 0.3);
	--text-color: #fff;
	--link-color: #9e86ff;
}

* {
	padding: 0;
	margin: 0;
	vertical-align: baseline;

	list-style: none;
	border: 0;
	font-family: "Raleway", sans-serif;
	font-size: 1.6rem;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: var(--tertiary-color);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--secondary-color);
}

body {
	background-color: var(--primary-color);
	color: var(--text-color);
}
